*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
WLTwitter/app/build/
WLTwitter/.idea/
WLTwitter/gradle.properties
WLTwitter/WLTwitter.iml
WLTwitter/gradle/wrapper/gradle-wrapper.properties
WLTwitter/gradlew
WLTwitter/app/app.iml
